@media screen and (max-width: 767px) {
    .container {
        max-width: 396px;
    }

    .header-list {
        display: none;
    }

    address {
        display: none;
    }

    .header {
        padding-bottom: 24px;
    }

    .open {
        color: var(--iris-color);
    }

    .hero-section {
        max-width: 428px;
        height: 432px;
        padding-top: 112px;
        margin-bottom: 96px;
    }

    .hero-title {
        max-width: 320px;
        margin-bottom: 72px;
        font-size: 36px;
        line-height: 1.11;
    }

    .advantages-list {
        margin-bottom: 96px;
    }

    .advantages-item {
        margin-bottom: 72px;
    }

    .advantages-title {
        text-align: center;
        margin-top: 0;
        margin-bottom: 8px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
    }

    .advantages-text {
        font-weight: 500;
    }

    .advantages-list :last-child {
        margin-bottom: 0;
    }

    .team-container {
        padding-left: 0;
        padding-right: 0;
    }

    .team-section {
        padding-top: 96px;
        padding-bottom: 128px;
    }

    .team-list {
        flex-direction: column;
        gap: 72px;
        align-items: center;
    }

    .team-card {
        width: 267px;
    }

    .no-centr {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0;
    }

    .customers {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .customers-container {
        padding-left: 0;
        padding-right: 0;
    }

    .customers-list {
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 16px;
        row-gap: 72px;

    }

    .customers-link {
        width: 190px;
        height: 88px;
    }

    footer {
        height: 662px;
        padding: 96px 0;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-logo {
        justify-content: center;
    }

    .footer-invitation {
        max-width: 268px;
        margin-bottom: 40px;
        margin: auto;
        justify-content: center;
    }

    .footer-social-box {
        margin: 0;
    }

    .footer-title {
        margin-top: 72px;
        text-align: center;
    }

    .footer-list {
        justify-content: center;
        gap: 16px;
    }

    .title-subscribe {
        margin-top: 72px;
        margin-bottom: 16px;
        text-align: center;
    }

    .form-subscribe {
        flex-direction: column;
        align-items: center;
    }

    .btn-subscribe {
        margin-top: 16px;
    }

    .header-container {
        justify-content: space-between;
    }

    .mobile-menu-btn {
        stroke: var(--navy-blue-color);
        border: none;
        width: 32px;
        height: 22px;
        background: transparent;
    }

    .mob-menu-close {
        display: flex;
        margin-left: auto;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        margin-bottom: 16px;
        border-radius: 50%;
        background: var(--cornflower-color);
        border: 1px solid rgba(0, 0, 0, 0.1);
        border: var(--navy-blue-color);
    }

    .mob-container {
        width: 348px;
        padding: 40px;
    }

    .mob-menu {
        width: 100%;
        height: 100%;
        position: fixed;
        padding: 40px;
        top: 0;
        background-color: var(--white-color);
        z-index: 1;
    }

    .mobile-nav {
        display: flex;
        flex-direction: column;
    }

    .mob-menu-item {
        font-weight: 600;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--navy-blue-color);
        margin-bottom: 20px;
    }

    .mob-menu-item:not(:last-child) {
        margin-bottom: 40px;
    }

    .mob-menu-nav {
        color: #2e2f42;
    }

    .mob-menu-tel {
        display: block;
        font-weight: 600;
        font-size: 36px;
        line-height: 1.11;
        text-transform: capitalize;
        color: var(--iris-color);
        margin-bottom: 40px;
    }

    .mob-menu-mail {
        display: block;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--slate-color);
        margin-bottom: 48px;
    }

    .mob-menu>.container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1199px) {

    .advantages-icon {
        display: none;
    }

    .services-section {
        display: none;
    }

    .modal {
        width: 392px;
        min-height: 586px;
    }
}