/*--------General styles--------*/

:root {
    --iris-color: #4d5ae5;
    --ocean-color: #404bbf;
    --navy-blue-color: #2e2f42;
    --green-color: #31d0aa;
    --slate-color: #434455;
    --light-slate-color: #8e8f99;
    --cornflower-color: #e7e9fc;
    --cloud-color: #f4f4fd;
    --grey-color:rgba(46, 47, 66, 0.7);
    --white-color: #ffffff;
    --dairy-color: #fcfcfc;
    --transition-duration-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
    .advantages-item > .advantages-icon {
      display: none;
    }
    .services-section {
      display: none;
    }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--slate-color);
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 428px;
    padding-left: 15px;
    padding-right: 15px;
    /*outline: 1px solid red;*/
}

.link {
    text-decoration: none;
    display: inline-block;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.btn {
    cursor: pointer;
}
/*------------------------------*/


/*--------HEADER--------*/

/*.header {
    padding-top: 24px;
    padding-bottom: 28px;
    background-color: var(--white-color);
    border-bottom: 1px solid var(--cornflower-color);
    }*/



/*.header-navigation {
    display: flex;
    align-items: center;
    margin-right: 332px;
}*/

/*--logo--*/
.logo {
    display: inline-block;
    align-self: center;
    color: var(--navy-blue-color);
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    transition: color var(--transition-duration-func);
}

header .web {
    margin-right: 76px;
}

.logo .web {
    display: inline-block;
    color: var(--iris-color);
    transition: color var(--transition-duration-func);
}
  
.logo:hover,
.logo:focus,
.logo:hover .web,
.logo:focus .web {
    color: var(--ocean-color);
}

.header {
    border-bottom: 1px solid var(--cornflower-color);
}

/*--navigation*/
.header-container {
    display: flex;
    align-items: center;
    padding: 24px 16px;
}

.header-nav {
    display: flex;
}

.nav-list.list {
    display: none;
}

.address {
    display: none;
}
  .hamburger-btn {
    width: 32px;
    height: 22px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}
@media screen and (min-width: 768px) {
    .hamburger-btn {
      display: none;
    }
}

/*--menu--*/
.mobile-menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    transform: translateY(100%);
}
  
.mobile-container {
    padding: 24px 24px 40px 40px;
    height: 100%;
}
  
.mobile-menu.is-open {
    transform: translateX(0);
}
  
.mobile-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}
  
.mobile-btn-closer {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
  
.mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue-color);
}
  
.current {
    color: var(--ocean-color);
}

.mobile-menu-address {
    margin-bottom: 40px;
    font-style: normal;
}

.mobile-menu-address-list {
    padding-bottom: 48px;
}

.mobile-menu-tel {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--iris-color);
    padding-bottom: 40px;
}

@media screen and (min-width: 428px) {
    .mobile-menu-tel {
      font-size: 36px;
    }
}
  
.mobile-menu-email {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--slate-color);
}

/*--main--*/
.section-title {
    margin-bottom: 72px;
    color: var(--navy-blue-color);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
  
  /*--banner--*/
.hero-section {
    background-color: var(--navy-blue-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/people-office-mobile.jpeg);
    background-size: cover;
    background-position: center;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 112px;
    padding-bottom: 112px;
    text-align: center;
}
  
.hero-title {
    color: var(--white-color);
    text-align: center;
    letter-spacing: 0.02em;
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    line-height: 1.11;
    width: 100%;
    margin-bottom: 72px;
}

@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/people-office-mobile-2x.jpeg);
    }
}
  
.btn-order-service {
    min-width: 169px;
    text-align: center;
    border-radius: 4px;
    padding: 16px 32px;
    border: 0 solid transparent;
    background-color: var(--iris-color);
    color: var(--white-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color var(--transition-duration-func);
}

.btn-order-service:is(:hover,:focus) {
    background-color: var(--ocean-color);
}
  

/*--------HERO--------*/

.hero-section {
    padding: 188px 0px;
    background-image: linear-gradient(var(--grey-color),var(--grey-color)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-color: var(--navy-blue-color);
    }

.hero-title {
    max-width: 496px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white-color);
}

.btn {
    min-width: 169px;
    padding: 16px 32px;
    margin: 0 auto;
    display: block;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--iris-color);
    color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color var(--transition-duration-func);
}  

.btn:is(:hover,:focus) {
    background-color: var(--ocean-color);   
}


/*--section1-Our advantages--*/
.advantages-section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.advantages-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.advantages-item {
    width: 100%;
}

.advantages-icon {
    background-color: var(--cloud-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
}
  
.advantages-tile {
    color: var(--navy-blue-color);
    margin-bottom: 8px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
  .advantages-text {
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-weight: 500;
}


/*--section2-What are we doing--*/

.services-section {
    padding-bottom: 120px;
}
  
  .services-list {
    display: flex;
    gap: 24px;
}
  
  .services-item {
    flex-basis: calc((100% - 48px) / 3);
}


/*--section3-Our Team--*/
.team-section {
    background-color: var(--cloud-color);
    padding-top: 96px;
    padding-bottom: 128px;
}

.team-list {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    gap: 24px;
}

.team-card {
    background-color: var(--white-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-card-text {
    padding: 32px 16px;
}

.team-member {
    color: var(--navy-blue-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}
.member-position {
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 8px;
}

.social-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 24px;
}
  
.social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
    background-color: var(--iris-color);
    border-radius: 50%;
    color: var(--cloud-color);
    transition: background-color var(--transition-duration-func);
}
 
.social-link:is(:hover,:focus) {
    background-color: var(--ocean-color);
}

.social-icon {
    fill: currentColor;
}

.team-list {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    row-gap: 72px;
}
 
.team-card {
    background-color: var(--white-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-card-text {
    padding: 32px 16px;
  }
  
.team-member {
    color: var(--navy-blue-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}
.member-position {
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 8px;
}


/*section customers*/

.customers-section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
    row-gap: 72px;
}

.customers-item {
    width: calc((100% - 16px) / 2);
    height: 88px;
}

.customers-link {
    width: 100%;
    height: 100%;
    border: 1px solid var(--light-slate-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-slate-color);
    transition: color var(--transition-duration-func), background-color var(--transition-duration-func);
}

.customers-icon {
    fill: currentColor;
    transition: fill var(--transition-duration-func);
}

.customers-link:is(:hover,:focus) {
    border-color: var(--ocean-color);
    color: var(--ocean-color);
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
    fill: var(--ocean-color);
}


/*--FOOTER--*/

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-box {
    margin-bottom: 72px;
}

.footer-social-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color);
    margin-bottom: 16px;
}

.footer-logo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
}

footer .social-link {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-duration-func);
}

footer .social-link:hover,
footer .social-link:focus {
    background-color: var(--green-color);
}

.footer-invitation {
    width: 264px;
    color: var(--cornflower-color);
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-size: 16px;
}

.footer .logo .web {
  color: var(--accent-color);
}

.footer .logo {
    margin-bottom: 18px;
    color: var(--cloud-color);
}

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--navy-blue-color);
}

/*--subscribe--*/
.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-subskribe {
    margin-bottom: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color);
    margin-bottom: 16px;
}

.subscribe-input {
    width: 100%;
    height: 40px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: transparent;
    background-color: transparent;
    transition: border-color var(--transition-duration-func);
}

.subscribe-input:focus {
    border-color: var(--green-color);
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-input:hover {
    border-color: var(--green-color);
}

.subscribe-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-width: 164px;
  height: 40px;
  padding: 8px 24px;
  border: 0 solid transparent;
  border-radius: 4px;
  background-color: var(--iris-color);
  color: var(--white-color);
  letter-spacing: 0.04em;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
}

.subscribe-btn:is(:hover,:focus) {
  background-color: var(--ocean-color);
}

.btn-subscribe-icon {
    margin-left: 16px;
    fill: var(--white-color);
}







/*---------------------*/



/*--pop-up--*/

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--transition-duration-func), visibility var(--transition-duration-func);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 576px;
    background-color: var(--dairy-color);
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 24px;
    transition: tranform var(--transition-duration-func);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal-close {
   width: 24px;
   height: 24px;
   border: 1px solid rgba(0, 0, 0, 0.1);
   background-color:var(--cornflower-color);
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: auto;
   padding: 0;
   margin-bottom: 24px;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
    margin-bottom: 16px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--navy-blue-color);
    padding-left: 38px;
    
    transition: border-color var(--transition-duration-func);
}

.modal-input:focus {
    border-color: var(--iris-color);
}

.modal-input:focus + .modal-icon {
    fill: var(--iris-color);
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: var(--navy-blue-color);

    transition: fill var(--transition-duration-func);
}

.modal-comment {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--navy-blue-color);
    padding: 8px 16px;
    resize: none;
    transition: border-color var(--transition-duration-func);
}

.modal-comment:focus {
    border-color: var(--iris-color);
}

.input-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    top: 0;
    left: 0;
    color: var(--light-slate-color);
    margin-bottom: 4px;
    display: inline-block;
}

.modal-input::placeholder {
    color: var(--light-slate-color);
}

.check-text {
    font-size: 12px;
    line-height: 1.17px;
    letter-spacing: 0.04em;
    color: var(--light-slate-color);
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 24px;
}

.check-text span {
    width: 16px;
    height: 16px;
    border: 1.25px solid var(--navy-blue-color);
    border-radius: 2px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: fill var(--transition-duration-func);
}

.input-check:checked + .check-text span {
    background-color: var(--ocean-color);
    border: none;
    fill: var(--cloud-color);
}

.policy-link {
    font-size: 12px;
    line-height: 1.33px;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: var(--iris-color);
}

.modal-send {
    display: flex;
    justify-content: center;
}

.btn-submit {
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background: var(--iris-color);
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color var(--transition-duration-func);
}

.btn-submit:is(:hover,:focus) {
    background: var(--ocean-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.modal-field {
    position: relative;
    margin-bottom: 8px;
}

.input-wrap {
    position: relative;
}
    
/*--------PORTFOLIO--------*/
/*--filter--*/

.portfoilio-section {
    padding-top: 96px;
    padding-bottom: 120px; 
 }
 
 .filter {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 24px;
     margin-bottom: 72px;
 }
 
 .filter-btn {
     padding: 12px 24px;
     font-family: inherit;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.04em;
     color: var(--iris-color);
     background: var(--cloud-color);
     border: 1px solid var(--cornflower-color);
     border-radius: 4px;
     transition: background-color var(--transition-duration-func);
 }
 
 .filter-btn:is(:hover,:focus) {
     color: var(--white-color);
     background: var(--ocean-color);
     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
 }

/*--project card--*/

.project-card-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.project-card-item {
    width: calc((100% - 48px) / 3);
    background: var(--white-color);
    cursor: pointer;
}

.project-card-link:hover .card-cover-text,
.project-card-link:focus .card-cover-text {
    transform: translateY(0);
}

.project-card-link {
    display: block;
    border: 1px solid var(--cornflower-color);
}

.project-card-link:is(:hover,:focus) {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-cover-wrap {
    position: relative;
    overflow: hidden;
}

.card-cover-text {
    position: absolute;
    top: 0;
    padding-top: 40px;
    padding-right: 32px;
    padding-left: 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud-color);
    background-color: var(--iris-color);
    height: 100%;
    transform: translateY(100%);
    transition: transform var(--transition-duration-func);
}

.project-card-text {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
}

.project-card-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
}

.category-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-color);
}
