/*--------General styles--------*/

:root {
    --iris-color: #4d5ae5;
    --ocean-color: #404bbf;
    --navy-blue-color: #2e2f42;
    --green-color: #31d0aa;
    --slate-color: #434455;
    --light-slate-color: #8e8f99;
    --cornflower-color: #e7e9fc;
    --cloud-color: #f4f4fd;
    --grey-color: rgba(46, 47, 66, 0.7);
    --white-color: #ffffff;
    --dairy-color: #fcfcfc;
    --transition-duration-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

address {
    display: block;
    font-style: normal;
    color: var(--slate-color);
}

img {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--navy-blue-color);
    background-color: var(--white-color);
    font-size: 16px;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.section {
    padding: 120px;
}

.container {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin: 0 auto;
}


/*--------HEADER--------*/

.header {
    padding-top: 24px;
    border-bottom: 1px solid var(--cornflower-color);
}

.header-container {
    display: flex;
}

.header-navigation {
    display: flex;
}

.header-logo {
    display: block;
    margin-right: 76px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navy-blue-color);
}

.logo-web {
    color: var(--iris-color);
}

.header-list-container {
    display: flex;
    gap: 40px;
}

.header-list {
    display: flex;
}

.header-list-item {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-link:is(:hover, :focus) {
    color: var(--ocean-color);
}

.address-list {
    display: flex;
    flex-wrap: wrap;
}

.address-item {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-color);
}

.address-item+.address-item {
    margin-left: 40px;
}

.address-item:is(:hover, :focus) {
    color: var(--);
}


/*--------HERO--------*/

.hero-section {
    margin-right: auto;
    margin-left: auto;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(var(--grey-color), var(--grey-color)), url(../images/people-office-mobile.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--navy-blue-color);
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-section {
        background-image: linear-gradient(var(--grey-color), var(--grey-color)), url(../images/people-office-mobile-2x.jpeg);
    }
}

.hero-container {
    justify-content: center;
    align-items: center;
}

.hero-title {
    margin: 0 auto;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white-color);
}

.btn {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    border-color: var(--iris-color);
    width: 169px;
    height: 56px;
    justify-content: center;
    font-family: inherit;
    background: var(--iris-color);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    align-items: center;
    color: var(--white-color);
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:is(:hover, :focus) {
    cursor: pointer;
    color: var(--white-color);
    background-color: var(--ocean-color);
}


/*--section1-Our advantages--*/

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
}

/*------------------------------*/


/*--section3-Our Team--*/

.team-section {
    background-color: var(--cloud-color);
}

.team-title {
    text-align: center;
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue-color);
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-card {
    width: calc(100% - 72px) / 4;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-card-text {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--white-color);
}

.team-member {
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
}

.member-position {
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-color);
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-item {
    width: 40px;
    height: 40px;
    margin-top: 8px;
}

.social-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--iris-color);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.social-link:is(:hover, :focus) {
    background-color: var(--ocean-color);
}

.social-icon {
    color: var(--cloud-color);
    fill: var(--white-color);
}


/*section customers*/

.customers-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--navy-blue-color);
}

.customers-list {
    display: flex;
    justify-content: center;
}

.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    border: 1px solid var(--light-slate-color);
    border-radius: 4px;
    color: var(--light-slate-color);
    transition-property: border-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
    fill: currentColor;
    justify-content: center;
    align-items: center;
}

.customers-link:is(:hover, :focus) {
    border-color: var(--ocean-color);
    color: var(--ocean-color);
}

/*--modal--*/

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--transition-duration-func), visibility var(--transition-duration-func);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 576px;
    background-color: var(--dairy-color);
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 24px;
    transition: var(--transition-duration-func);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal-close {
    width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--cornflower-color);
    border-style: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-bottom: 24px;
    transition: color var(--transition-duration-func);
    transition: background-color var(--transition-duration-func);
}

.modal-close:hover {
    background: var(--ocean-color);
    color: var(--white-color);
}

.modal-close {
    fill: currentColor;
}

.modal-close-icon {
    fill: var(--navy-blue-color);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-title {
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
    margin-bottom: 16px;
}

.modal-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--navy-blue-color);
    transition: border-color var(--transition-duration-func);
}

.modal-input:focus {
    border-color: var(--ocean-color);
}

.modal-input:focus+.modal-icon {
    fill: var(--ocean-color);
}

.input-text {
    display: inline-block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    top: 0;
    left: 0;
    color: var(--light-slate-color);
}

.input-wrap {
    display: block;
    position: relative;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: var(--navy-blue-color);
    transition: fill var(--transition-duration-func);
}

.modal-comment {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    color: rgba(117, 117, 117, 0.5);
    outline: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: border var(--transition-duration-func);
}

.modal-comment:is(:hover, :focus) {
    border-color: var(--ocean-color);
}

.modal-input::placeholder {
    color: var(--light-slate-color);
}

.check-text {
    display: flex;
    font-size: 12px;
    line-height: 1.17px;
    letter-spacing: 0.04em;
    color: var(--light-slate-color);
    align-items: center;
    position: relative;
    margin-bottom: 24px;
}

.check-text span {
    width: 16px;
    height: 16px;
    border: 1.25px solid var(--navy-blue-color);
    border-radius: 2px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: fill var(--transition-duration-func);
}

.input-check:checked+.check-text span {
    background-color: var(--ocean-color);
    border: none;
    fill: var(--cloud-color);
}

.policy-link {
    font-size: 12px;
    line-height: 1.33px;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: var(--iris-color);
}

.modal-send {
    display: flex;
    justify-content: center;
}

.btn-submit {
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    font-weight: 500;
    line-height: 1.5px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background: var(--iris-color);
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-submit:is(:hover, :focus) {
    background: var(--ocean-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


/*--FOOTER--*/

footer {
    background: var(--navy-blue-color);
}

.footer-container {
    display: flex;
}

.footer-logo {
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud-color);
    margin-bottom: 16px;
}

.footer-web {
    color: var(--iris-color);
}

.footer-invitation {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud-color);
}

/*--footer-social--*/

.footer-title {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color);
}

.footer-list {
    display: flex;
    gap: 16px;
    padding-top: 24px;
}

.footer-item {
    width: 40px;
    height: 40px;
}

.footer-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--slate-color);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:is(:hover, :focus) {
    background-color: var(--green-color);
}

/*---footer subscribe--*/

.title-subscribe {
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color);
}

.form-subscribe {
    display: flex;
}

.input-subscribe {
    display: block;
    align-items: center;
    /*margin-right: 24px;*/
    padding-left: 16px;
    width: 264px;
    height: 40px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.input-subscribe:is(:hover, :focus) {
    /*background-color: var(--iris-color);*/
    border-color: var(--iris-color);
}

.btn-subscribe {
    display: flex;
    padding: 0;
    border: none;
    border-color: var(--iris-color);
    width: 165px;
    height: 40px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--iris-color);
    color: var(--white-color);
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-subscribe:is(:hover, :focus) {
    cursor: pointer;
    color: var(--white-color);
    background-color: var(--ocean-color);
}

.btn-push {
    margin-right: 16px;
}

.icon-subscribe {
    fill: var(--white-color);
}


/*--------PORTFOLIO--------*/
/*--filter--*/

.portfoilio-section {
    padding-top: 96px;
    padding-bottom: 120px;
}

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 72px;
}

.filter-btn {
    padding: 12px 24px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris-color);
    background: var(--cloud-color);
    border: 1px solid var(--cornflower-color);
    border-radius: 4px;
    transition: background-color var(--transition-duration-func);
}

.filter-btn:is(:hover, :focus) {
    color: var(--white-color);
    background: var(--ocean-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*--project card--*/

.project-card-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.project-card-item {
    width: calc((100% - 48px) / 3);
    background: var(--white-color);
    cursor: pointer;
}

.project-card-link:hover .card-cover-text,
.project-card-link:focus .card-cover-text {
    transform: translateY(0);
}

.project-card-link {
    display: block;
    border: 1px solid var(--cornflower-color);
}

.project-card-link:is(:hover, :focus) {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-cover-wrap {
    position: relative;
    overflow: hidden;
}

.card-cover-text {
    position: absolute;
    top: 0;
    padding-top: 40px;
    padding-right: 32px;
    padding-left: 32px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud-color);
    background-color: var(--iris-color);
    height: 100%;
    transform: translateY(100%);
    transition: transform var(--transition-duration-func);
}

.project-card-text {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
}

.project-card-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
}

.category-title {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-color);
}