@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }

  /*--------HEADER--------*/

  .header {
    height: 77px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-mail,
  .address-tel {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .menu-button {
    display: none;
  }

  /*--------hero--------*/

  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(var(--grey-color),
        var(--grey-color)),
      url(../images/people-office-tablet.jpeg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(var(--grey-color),
          var(--grey-color)),
        url(../images/people-office-tablet-2x.jpeg);
    }
  }

  .hero-title {
    width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
  }

  /*--------advantages-section--------*/

  .advantages>.container {
    max-width: 766px;
  }

  .advantages-list {
    column-gap: 24px;
  }

  .advantages-item {
    width: calc((100% - 24px) / 2);
  }

  .advantages-title {
    text-align: start;
  }

  /*--------team-section--------*/

  .team>.container {
    max-width: 582px;
  }

  .team-list {
    column-gap: 24px;
  }

  .team-card {
    width: calc((100% - 24px) / 2);
  }

  /*--------customers-section--------*/

  .customers>.container {
    max-width: 582px;
  }

  .customers-item {
    width: calc((100% - 48px) / 3);
  }

  /*--------FOOTER--------*/

  .footer>.container {
    max-width: 582px;
  }

  .footer .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
  }

  .footer-logo {
    margin-left: initial;
  }

  .footer-social-title {
    margin-left: initial;
  }

  .footer-subscribe-container form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-subscribe-title {
    margin-top: 72px;
    margin-left: initial;
  }

  .subscribe-input {
    width: 264px;
  }

  /*--------modal--------*/

  .modal {
    max-width: 408px;
  }

  /*--------PORTFOLIO--------*/

  .portfolio {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .portfolio-filter-list {
    display: flex;
    justify-content: center;
    padding: 0px;
    gap: 24px;
    margin-bottom: 64px;
  }

  .portfolio-project-list {
    row-gap: 72px;
  }

  .portfolio-project-item {
    width: calc((100% - 24px) / 2);
  }
}